# Frontend Build & Dependencies
node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Java Backend
backend/target/
backend/*.jar
backend/*.war
backend/*.class

# IDE / Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.settings/
.classpath
.project
.factorypath
